.sidebar {
  /* width: 20%; */
  background-color: rgb(238, 238, 238, 0.8);
  padding-top: 10px;
  border: 1px solid;
  margin-right: 10px;
  /* display: inline-block;
  vertical-align: top;
  float: left; */
}

.sidebar input {
  width: 200px;
  height: 20px;
  font-size: 12px;
  margin-bottom: 10px;
  padding-left: 5px;
}

.sidebar a {
    background-color: rgb(238, 238, 238, 0.5);/* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    border-top: 1px solid;
}

.sidebar a:hover {
    background-color: #70aad1; /* Dark grey background on mouse-over */
    color: #eee;
}

.sidebar a.active {
    background-color: #4CAF50; /* Add a green color to the "active/current" link */
    color: white;
}
